@import "bootstrap-sprockets";
@import "bootstrap";
body{
    margin :0px;
    padding:0px;
}
.container-fluid{
    margin :0px;
    padding:0px;
}
.glyphicon-log-out,.glyphicon-search{
    color:white;
}
.layoutDiv{
    background-color : grey;
    display:inline;
    border:1px solid black;
    padding:5px;
    margin:1px;
    cursor:pointer;
}

